@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@700&display=swap");

.navbar,
.navbar-brand {
  padding: 0;
  z-index: 1;
  .container-fluid {
    z-index: 1;
  }
}
.main {
  background-color: rgb(46, 45, 45);
  height: 89.5vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  .auth_wrap {
    width: 500px;
    height: 150px;
    background-color: rgb(33, 37, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    .button_wrap {
      border: 2px solid goldenrod;
      height: 50px;
      width: 400px;
      background: transparent;
      display: flex;
      align-items: center;
      padding: 5px;
      svg {
        width: 35px;
        height: 35px;
      }
      p {
        margin: 0 auto;
        color: #fff;
      }
    }
  }
}

.main_page_wrap {
  margin-top: -50px;
  .header_button {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 4;
    margin-left: 20%;
    button {
      margin-right: 20px;
    }
  }
  .main_wrap {
    display: flex;
    overflow-y: hidden;
    .main_page {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin-top: 10px;
      p {
        color: #fff;
        font-size: 25px;
      }
    }
    .chat {
      height: 89.5vh;
      width: 30%;
      margin-top: 10px;
      background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1615845528_97-p-chernii-fon-vertikalnii-113.jpg);
      border-left: 1px solid #fff;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      .chat_wrap {
        height: 82vh;
        overflow-y: scroll;
        margin-top: 10px;
      }
      form{
        margin-left: 5px;
        input{
          width: 80%;
          margin-right: 5px;
        }
        button{
          padding: 3px;
          background-color: rgb(8, 147, 8);
          border-radius: 15px;
        }
      }
    }
  }
}
.func_button {
  color: deepskyblue;
  border: 2px solid deepskyblue;
  background: transparent;
  padding: 5px 45px;
}
.cancel{
  color: #fff;
  background-color:deepskyblue ;
}
.chat_msg {
  color: #fff;
}
::-webkit-scrollbar{
 background: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: lightgray;
}
.message{
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  width: 80%;
  
  border-radius: 10px;
  img{
    width: 40px;
  }
  p{
    margin: 0;
    margin-left: 10px;
  }
}
.sent{
  background-color: rgb(173, 70, 173);
}
.received{
  background-color: rgb(66, 66, 226);
  margin-left: 70px;
}